{% extends 'araincdb/main.html' %}
{% load custom_time %}

{% block content %}


<!-- Content Row -->
<div class="row">
    <!-- Listing Status Card -->
    <div class="col-xl-12 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-header">
              <h5 class="text-center">{{ heading|upper }}</h5>
          </div>
        <div class="card-body">
            <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <form action="" method="POST" autocomplete="off">
                    {% csrf_token %}
                    <br>
                    <div class="form-row">
                      <div class="form-group col-md-4 mb-0">
                        <label class="" for="start_date">Start Date</label>
                        <input required class="form-control form-control-sm jq-datepicker" name="start_date" id="start_date" value="{{ request.POST.start_date }}"></input> 
                      </div>
                      <div class="form-group col-md-4 mb-0">
                        <label class="" for="end_date">End Date</label>
                        <input required class="form-control form-control-sm jq-datepicker" name="end_date" id="end_date" value="{{ request.POST.end_date }}"></input> 
                      </div>
                      <div class="form-group col-md-4 mb-0"> <br>
                        <button type="submit" name="submit" class="btn btn-primary">
                          <span class="fas fa-search"></span> Submit
                        </button>
                      </div>
                    </div>
                  </form>
                  <br>
                <div class="overflow-auto">
                    <table class="myTable table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">User Name</th>
                            <th scope="col">Screened</th>
                            <th scope="col">Screening Hour</th>
                            <th scope="col">Crosschecked</th>
                            <th scope="col">Crosscheck Hour</th>
                            <th scope="col">MS</th>
                            <th scope="col">MS Hour</th>
                            <th scope="col">OMS</th>
                            <th scope="col">OMS Hour</th>
                            <th scope="col">Total Hour</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for item in user_stats %}
                            <tr>
                                <th>{{ item.0 }}</th>
                                <th>{{ item.1 }}</th>
                                <td>{{ item.2|secondsToHHMMSS }}</td>
                                <td>{{ item.3 }}</td>
                                <td>{{ item.4|secondsToHHMMSS }}</td>
                                <td>{{ item.5 }}</td>
                                <td>{{ item.6|secondsToHHMMSS }}</td>
                                <td>{{ item.7 }}</td>
                                <td>{{ item.8|secondsToHHMMSS }}</td>
                                <td>{{ item.9|secondsToHHMMSS }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    
    </div>

{% endblock %}
